*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.header-container{
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 240px;
    padding-right: 240px;
    gap: 100px;
}
.header-title{
    color: #272727;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 32px;
}
.header-info{
    text-align: center;
}
.para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 32px;
    text-align: center;
}
.btn{
    background: #E55473;
    border-radius: 8px;
    padding: 20px 45px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.btn:hover{
    background-color: #b6304d;
}
.head-flower{
    padding-top: 50px;
}
.title-info{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 170px;
    margin-bottom: 24px;
}
.photo-one{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.photo-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.photo-three{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.three-flowers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    margin: 0px 240px 0px;
    margin-top: 48px;
}
.under{
    text-align: center;
    text-decoration: underline;
    line-height: 35px;
    font-size: 24px;
    font-weight: 700;
}
.service-container{
    height: 320px;
    margin: 120px 240px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.service-photo{
    text-align: center;
}
.talk{
    text-align: center;
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
}
.sales-offer{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.off{
    color: #E55473;
}
.sales-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
}
.sales{
    text-align: center;
    padding: 0px 150px;
}
.instagram .main-title{
    padding: 0px 300px;
    margin-bottom: 48px;
}
.four-flowers-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 48px 240px 120px;
}
.subscribe-container{
    background-image: url('./Rectangle\ 9.png');
    margin: 120px 120px;
    height: 450px;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
.subs-title{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;
}
.subs-email{
    align-items: center;
    justify-content: center;
    text-align: center;
}
input{
    margin-right: 20px;
    padding: 25px 100px;
    border: none;
    border-radius: 8px;
}
.footer-container{
    background-color: black;
    color: white;
    text-align: center;
    height: 450px;
}
.footer-logo{
    font-size: 48px;
    font-weight: 800;
    padding-top: 120px;
}
.flower{
    color: #E55473;
}
.shop{
    color: white;
}
.footer-para{
    text-align: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.90);
    padding-top: 24px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);   
    margin-top: 32px;
}
input::placeholder{
    color: rgba(39, 39, 39, 0.60);
    position: absolute;
    left: 22px;
}