*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.header-container{
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 240px;
    padding-right: 240px;
    gap: 100px;
}
.header-title{
    color: #272727;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 32px;
}
.para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 32px;
    text-align: center;
}
.btn{
    background: #E55473;
    border-radius: 8px;
    padding: 20px 45px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.btn:hover{
    background-color: #b6304d;
}
.title-info{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 170px;
    margin-bottom: 24px;
}
.fphoto-one{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.fphoto-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.fphoto-three{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.three-flowers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    margin: 0px 240px 0px;
    margin-top: 48px;
}
.under{
    text-align: center;
    text-decoration: underline;
    line-height: 35px;
    font-size: 24px;
    font-weight: 700;
}
.service-container{
    height: 320px;
    margin: 120px 240px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.service-photo{
    text-align: center;
}
.talk{
    text-align: center;
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
}
.sales-offer{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.off{
    color: #E55473;
}
.sales-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
}
.sales{
    text-align: center;
}